[package]
name = "smoke_tester_macros"
version.workspace = true
edition.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true
publish = false

[dependencies]
proc-macro-error2 = "2.0.1"
proc-macro2 = "1.0.103"
quote = "1.0.42"
syn = { version = "2.0.111", features = ["full"] }

[dev-dependencies]
trybuild = "1.0.114"

[lib]
proc-macro = true

[lints]
workspace = true
