language: rust
rust:
  - stable
  - beta
  - nightly
cache: cargo
matrix:
  allow_failures:
    - rust: nightly
addons:
  apt:
    packages:
    - libusb-1.0
    - libusb-dev
script:
  - cargo build
  - cargo test