[package]
name = "smoke_tester"
version = "0.1.0"
authors = ["Dominik Boehi <dominik.boehi@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
probe-rs = { path = "../probe-rs" }
toml = "0.5.8"
anyhow = "1.0.40"
serde = {version = "1.0.125", features = ["derive"]}
structopt = "0.3.21"
