[package]
name = "smoke_tester"
version.workspace = true
authors = ["Dominik Boehi <dominik.boehi@gmail.com>"]
edition.workspace = true
publish = false


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

serde = { version = "1", features = ["derive"] }
probe-rs = { workspace = true }
toml = "0.8.12"
env_logger = "0.11.0"
log = "0.4.21"
clap = { version = "4.5", features = ["derive"] }
colored = "3"
linkme = "0.3.25"
miette = { version = "7.2.0", features = ["fancy"] }
thiserror.workspace = true

[lints]
workspace = true
