[package]
name = "smoke_tester"
version.workspace = true
authors = ["Dominik Boehi <dominik.boehi@gmail.com>"]
edition.workspace = true
publish = false

autobins = false

[[test]]
name = "smoke_tester"
path = "src/main.rs"
harness = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
probe-rs.workspace = true
probe-rs-espressif.workspace = true

anyhow = { version = "1.0" }
serde = { version = "1", features = ["derive"] }
toml = "1.0.0"
log = "0.4.21"
clap = { version = "4.5", features = ["derive", "env"] }
linkme = "0.3.25"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
tracing = "0.1.44"
libtest-mimic = "0.8.1"
smoke_tester_macros = { version = "0.31.0", path = "../smoke-tester-macros" }

[lints]
workspace = true
