[package]
name = "smoke_tester"
version.workspace = true
authors = ["Dominik Boehi <dominik.boehi@gmail.com>"]
edition = "2021"
publish = false


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
probe-rs = { workspace = true }
toml = "0.7.6"
anyhow = "1.0.75"
serde = { version = "1", features = ["derive"] }
pretty_env_logger = "0.5.0"
log = "0.4.20"
clap = "4.3"
colored = "2.0.4"
