[alias]
xtask = "run --package xtask --"
probe-rs = "run --package probe-rs-tools --bin probe-rs --"
smoke-tester = "run --package smoke_tester --"
target-gen = "run --package target-gen --release --"
