# Check that the changelog is updated for all changes.
#
# This is only run for PRs.

on:
  pull_request:
    # opened, reopened, synchronize are the default types for pull_request.
    # labeled, unlabeled ensure this check is also run if a label is added or removed.
    types: [opened, reopened, labeled, unlabeled, synchronize]

name: Changelog

jobs:
  changelog:
    name: Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Check that fragments are valid
        run:  cargo xtask check-changelog
        env:
          GH_TOKEN: ${{ github.token }}