# Check that the changelog is updated for all changes.
#
# This is only run for PRs.

on:
  pull_request_target:
    # opened, reopened, synchronize are the default types for pull_request.
    # labeled, unlabeled ensure this check is also run if a label is added or removed.
    types: [opened, reopened, labeled, unlabeled, synchronize]

name: Changelog

jobs:
  changelog:
    name: Changelog
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - uses: swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"

      - name: Check that fragments are valid
        run:  cargo xtask check-changelog --pr ${{ github.event.number }} --comment-error
        env:
          GH_TOKEN: ${{ github.token }}
