# This action builds* all the pushes to master, staging and trying which are required for bors.
# Additionally it builds* for each PR.
#
# * builds includes building, checking, testing, checking format and clippy, as well as the changelog.

on:
  push:
    branches: [master, staging, trying]
  pull_request:
  merge_group:


name: Run CI

jobs:
  check:
    name: Check
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    runs-on: ${{ matrix.os }}

    env:
      VCPKGRS_DYNAMIC: 1 # Use dynamic linking on Windows build (vcpkg)

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install libusb, libudev (linux)
        run: |
          sudo apt update
          sudo apt install -y libusb-1.0-0-dev libudev-dev
        # Only install on Ubuntu
        if: (matrix.os == 'ubuntu-latest') || (matrix.os == 'ubuntu-20.04')

      - uses: ./.github/actions/setup

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2.2.0

      - name: cargo check for probe-rs, --no-default-features
        run: cargo check -p probe-rs --no-default-features --locked

      - name: Run cargo check
        run: cargo check --all-features --locked

  test:
    name: Test Suite

    # Run the test suite on both Linux and Windows,
    # to ensure the path handling code works on both.
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    env:
      VCPKGRS_DYNAMIC: 1 # Use dynamic linking on Windows build (vcpkg)

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install libusb (linux)
        run: |
          sudo apt update
          sudo apt install -y libusb-1.0-0-dev libudev-dev
        # Only install on Ubuntu
        if: matrix.os == 'ubuntu-latest'

      - uses: ./.github/actions/setup
        with:
          targets: thumbv7m-none-eabi
      
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2.2.0

      - name: Run cargo test
        run: cargo test --all-features --locked

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup
        with:
          components: rustfmt

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install libusb
        run: |
          sudo apt update
          sudo apt install -y libusb-1.0-0-dev libudev-dev

      - uses: ./.github/actions/setup
        with:
          components: clippy

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2.2.0

      - name: Run cargo clippy
        run: cargo clippy --all-features --locked -- -D warnings

  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1

  doc:
    name: Check docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install libusb
        run: |
          sudo apt update
          sudo apt install -y libusb-1.0-0-dev libudev-dev

      - uses: ./.github/actions/setup

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2.2.0

      - name: Run cargo doc
        run: cargo doc --all-features --locked
        env:
          RUSTDOCFLAGS: '-D warnings'
